*{
    margin: 0px;
    padding: 0px;
}

.color{
    color: orange;
}

.displayflex{
    display: flex;


}

.part1{
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    
    

}
.skippart{
    margin: 5%;
    width: 60%;
    
}
.girlimage1{
    height:700px ;
    margin:4px 0px;
    

}

.title{
    font-size: 60px;
    margin: 25px 10px;
    padding: 5px;
}
#p1{
    width: 90%;
    margin-bottom: 50px;
}
.btn{
    text-decoration: none;
    margin: px 0px;
    padding: 12px 20px ;
    background-color: orange;
    border-radius: 10px;
    background-image: linear-gradient(65deg,rgb(224, 26, 191),rgb(255, 251, 0));


}
.part2{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.girlimage2{
    width:40%;
    height: 500px;
    margin-left: 20%;
}
.aboutme{
    
}
.halfwidth{
    width: 50%;
}
div h2{
    margin-top: 65px;
    margin-bottom: 40px;
}
.p2{
    width: 50%;
    margin-bottom: 50px;
}

.part3{
    display: block;
    
}
.recipiespart{
    text-align:center;
    
    

}
.iteam{
    margin: 10%;
    box-shadow: 1px 1px 50px grey;
    

}
.iteam2{
    

}
.iteam3{
    
   
    

}
.alliteam{
    

    
    
    
}
.p3{
    margin: 0% 30%;
}
.img{
    width: 100%;
    height: 200px;
    display: block;
    
    
}
div h3{
    margin: 15px;
}
div p{
    margin: 15px;
}